

body {
    padding-top: 70px;
}

.navbar-inverse {
    background: #2c3e50;
}

.jumbotron {
    color: #2c3e50;
}

footer {
    height: 50px;
    background: #2c3e50;
}

.footer-text {
    padding-top: 15px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: grey;
    text-decoration: none;
}